@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Galaxy";
  src: url("../../assets/font/GALAXY aka COSMO.otf");
}
@font-face {
  font-family: "Mono";
  src: url("../../assets/font/mono-grass.ttf");
}
h1 {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  text-align: center;
  font-size: 60px;
  font-family: Mono;
  text-shadow: 2px 2px 2px black;
}

.TituloPrincipal {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90px;
  text-shadow: 4px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  z-index: 1;
  font-family: Galaxy;
}

@media (max-width: 780px) {
  .TituloPrincipal {
    font-size: 60px;
  }
}
@media (max-width: 450px) {
  .TituloPrincipal {
    font-size: 40px;
  }
}
.navbar {
  background-color: rgb(0, 0, 0);
  font-family: Mono;
}
.navbar .nav-link {
  color: rgb(255, 255, 255) !important;
}
.navbar .custom-toggler {
  border-color: rgb(255, 255, 255);
  color: #C13584;
  z-index: 1000000000;
}

.logo {
  width: 90px;
  border-radius: 20px;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Roboto;
}

.planetasBackground {
  background-image: url(../../assets/fondoInicio.webp);
}

.contact {
  background-image: url(../assets/contact.jpg);
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: Mono;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
footer .container .footer-left {
  display: flex;
  align-items: center;
}
footer .container .footer-left a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-right: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}
footer .container .footer-left a:last-child {
  margin-right: 0;
}
footer .container .footer-left a:hover {
  transform: scale(1.2);
}
footer .container .footer-left a.facebook:hover {
  color: rgb(46, 56, 199);
}
footer .container .footer-left a.instagram:hover {
  color: #C13584;
}
footer .container .footer-left a.youtube:hover {
  color: #FF0000;
}
footer .container .footer-left a.twitter:hover {
  color: #1DA1F2;
}
footer .container .footer-right a {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  text-decoration: none;
}
footer .container .footer-right a:first-child {
  margin-left: 0;
}
footer .container .footer-right a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container .footer-left {
    margin-bottom: 20px;
  }
  .container .footer-left a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .container .footer-right a {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
.cardPlaneta {
  position: relative;
  border: none;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.info-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 50px 10px;
}
.info-card-container h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  font-size: 60px;
  font-family: Mono;
  text-shadow: 2px 2px 2px black;
}
.info-card-container p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Roboto;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
}
.info-card-container a {
  text-decoration: none;
}

.card-planeta-button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.card-planeta-button:hover {
  color: rgb(255, 255, 255);
  transform: scale(1);
  outline: 2px solid #2c9caf;
  box-shadow: 4px 5px 17px -4px #2c9caf;
}

.card-planeta-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.card-planeta-button:hover::before {
  width: 250%;
}

.cardPlaneta:nth-child(1) {
  height: calc(100vh - 56px);
  background-image: url("../../assets/rocketnasa.webp");
}

.cardPlaneta:nth-child(2) {
  background-image: url("../../assets/salidacohete.webp");
}

.cardPlaneta:nth-child(3) {
  background-image: url("../../assets/img10.webp");
}

.cardPlaneta:nth-child(4) {
  background-image: url("../../assets/estacionEsp.webp");
}

.cardPlaneta:nth-child(5) {
  background-image: url("../../assets/lanzamiento.webp");
}

@media (max-width: 780px) {
  .info-card-container h2 {
    font-size: 40px;
  }
  .info-card-container p {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .info-card-container h2 {
    font-size: 25px;
  }
  .card-planeta-button {
    padding: 0.5em 1em;
  }
  .card-planeta-button:hover::before {
    width: 150%;
  }
}
.btn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 4px solid rgb(255, 255, 255);
  font-family: inherit;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  transition: 1s ease;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
  height: 410px;
  width: 410px;
}

.btn:hover {
  color: rgb(0, 0, 0);
}

.btn:active {
  filter: brightness(0.8);
}

.scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgb(81, 53, 182);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  text-decoration: none;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: rgb(255, 255, 255);
}

.scroll:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(81, 53, 182);
  align-items: center;
}

.scroll:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.scroll::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: rgb(255, 255, 255);
  font-size: 0px;
}

.scroll:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

.whatsapp {
  height: 70px;
  width: 70px;
  background-color: rgb(37, 211, 102);
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.fa-whatsapp {
  color: black;
  font-size: 40px;
}

@media (max-width: 500px) {
  .btn {
    padding: 8px;
    font-size: 14px;
    border: 2px solid rgb(255, 255, 255);
  }
  .btn::before,
  .btn::after {
    width: 10px !important;
    height: 10px !important;
  }
  .btn:hover::before,
  .btn:hover::after {
    width: 10px !important;
    height: 10px !important;
  }
}
.contact {
  height: 100vh;
  font-family: Roboto;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
}
.contact h1 {
  font-size: 60px;
  font-family: Mono;
}
.contact p {
  font-size: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.568);
}
form .form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

textarea {
  height: 150px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.textoCard {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.558);
}

button {
  background-color: rgb(81, 53, 182);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button button:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 660px) {
  .form {
    max-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .contact p {
    font-size: 15px;
  }
}
.contenedor {
  position: relative;
  height: calc(100vh - 56px);
}
.contenedor .fotografia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contenedor .titulosPlanetas {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-family: Mono;
  text-shadow: 2px 2px 2px black;
}

.moon-grid-container {
  display: grid;
  grid-template-columns: repeat(1fr, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  grid-template-areas: "img1 text1" "text2 img2" "img3 text3" "text4 img4" "img5 text5";
  gap: 20px;
  padding: 40px;
  margin-bottom: 50px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 600px;
  max-height: 100%;
  border-radius: 30px;
}

.img1 {
  grid-area: img1;
}

.text1 {
  grid-area: text1;
}

.img2 {
  grid-area: img2;
}

.text2 {
  grid-area: text2;
}

.img3 {
  grid-area: img3;
}

.text3 {
  grid-area: text3;
}

.img4 {
  grid-area: img4;
}

.text4 {
  grid-area: text4;
}

.img5 {
  grid-area: img5;
}

.text5 {
  grid-area: text5;
}

.text {
  display: flex;
  text-align: center;
  width: 500px;
  padding: 25px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  font-family: Mono;
  background-color: rgba(0, 0, 0, 0.32);
  animation: float 3s ease-in-out infinite;
}
.text h2 {
  margin-top: 20px;
  font-size: 35px;
  font-family: Mono;
  color: rgb(255, 255, 255);
}
.text p {
  color: rgb(255, 255, 255);
  text-align: left;
  margin: 20px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.1);
}

@media (max-width: 1280px) {
  .contenedor h1 {
    font-size: 50px !important;
  }
}
@media (max-width: 1080px) {
  .contenedor h1 {
    font-size: 40px !important;
  }
  .moon-grid-container {
    grid-template-columns: repeat(1fr, auto);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "img1" "text1" "img2" "text2" "img3" "text3" "img4" "text4" "img5" "text5";
  }
  .image {
    width: 60%;
  }
  .text h2 {
    font-size: 30px;
  }
  .text p {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .contenedor {
    height: auto;
  }
  .contenedor h1 {
    font-size: 30px !important;
    top: 20%;
  }
  .fotografia {
    height: auto;
  }
  .titulosPlanetas {
    font-size: 40px;
  }
  .text {
    width: 400px;
  }
}
@media (max-width: 490px) {
  .contenedor {
    height: auto;
  }
  .contenedor h1 {
    font-size: 20px !important;
    top: 40% !important;
  }
  .fotografia {
    width: 60%;
  }
  .text {
    width: 300px;
  }
  .text h2 {
    font-size: 20px;
  }
  .text p {
    font-size: 15px;
  }
  .moon-grid-container {
    padding: 10px;
  }
}
.contenedor-planetas {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  display: grid;
  padding: 20px;
  gap: 40px;
  justify-content: center;
}

.tarjeta {
  text-align: center;
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 300px;
}
.tarjeta h2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px black;
  font-family: Roboto;
}

.tarjeta:hover {
  filter: brightness(1.2);
}

.tarjeta-mercurio {
  background-image: url("../../assets/sistemaSolar/mercurio.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-venus {
  background-image: url("../../assets/sistemaSolar/venus.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-tierra {
  background-image: url("../../assets/sistemaSolar/tierra.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-marte {
  background-image: url("../../assets/sistemaSolar/marte.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-jupiter {
  background-image: url("../../assets/sistemaSolar/jupiter.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-saturno {
  background-image: url("../../assets/sistemaSolar/saturno.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-urano {
  background-image: url("../../assets/sistemaSolar/urano.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta-neptuno {
  background-image: url("../../assets/sistemaSolar/neptuno.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-container {
  margin: 50px;
  border-radius: 10px;
  box-shadow: 3px 0px 10px 0px rgba(255, 255, 255, 0.1803921569);
  display: grid;
  grid-gap: 40px !important;
  color: rgb(255, 255, 255);
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "foto titulo titulo" "descubrimiento expediciones orbita";
  grid-gap: 10px;
  overflow: hidden;
}

.foto {
  grid-area: foto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.foto:hover {
  transform: scale(1.1);
}

.titulo {
  grid-area: titulo;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  margin: 20px;
  font-family: Mono;
}

.descubrimiento {
  grid-area: descubrimiento;
}

.estiloPlanet h3 {
  font-size: 30px;
  font-family: Mono;
}
.estiloPlanet p {
  font-size: 18px;
  font-family: Roboto;
}

.expediciones {
  grid-area: expediciones;
}

.orbita {
  grid-area: orbita;
}

@media (max-width: 1100px) {
  .contenedor-planetas {
    grid-template-columns: repeat(1, 500px);
  }
  .tarjeta h2 {
    font-size: 30px;
  }
  .grid-container {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "foto titulo" "descubrimiento expediciones" "orbita orbita";
  }
  .titulo {
    font-size: 50px;
  }
  .estiloPlanet h3 {
    font-size: 20px;
  }
  .estiloPlanet p {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .contenedor-planetas {
    grid-template-columns: repeat(1, 280px);
  }
  .tarjeta h2 {
    font-size: 25px;
  }
  .grid-container {
    grid-template-columns: repeat(1, auto);
    grid-template-areas: "titulo" "foto" "descubrimiento" "expediciones" "orbita" "orbita";
  }
  .titulo {
    font-size: 40px;
  }
  .estiloPlanet h3 {
    font-size: 20px;
  }
  .estiloPlanet p {
    font-size: 14px;
  }
}
.accordion {
  max-width: 800px;
  margin: 20px auto;
}
.accordion p {
  color: rgb(255, 255, 255);
  font-family: Roboto;
}

.accordion-btn {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-family: Mono;
  font-size: 19px;
  position: relative;
}
.accordion-btn:after {
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 10px 20px;
  background-color: #333;
  margin-bottom: 20px;
}

.accordion-checkbox {
  display: none;
}

.accordion-checkbox:checked + .accordion-btn + .accordion-content {
  display: block;
}

.accordion-checkbox:checked + .accordion-btn:after {
  transform: translateY(-50%) rotate(90deg);
}

.accordion-btn:hover,
.accordion-checkbox:checked + .accordion-btn {
  color: rgb(81, 53, 182);
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .accordion {
    max-width: 100%;
    padding: 0 10px;
  }
  .accordion-btn {
    font-size: 16px;
    padding: 8px 15px;
  }
  .accordion-content {
    font-size: 14px;
    padding: 8px 15px;
  }
}
@media (max-width: 480px) {
  .accordion-btn {
    font-size: 14px;
    padding: 6px 10px;
  }
  .accordion-content {
    font-size: 12px;
    padding: 6px 10px;
  }
}
/* Estilos generales para el iframe */
iframe {
  width: 100%;
  height: 700px;
  border: 2px solid rgb(255, 255, 255);
}

.small-screen-message {
  display: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}

/* Media queries para hacer el iframe responsivo */
@media (max-width: vMedia) {
  iframe {
    height: 600px;
  }
}
@media (max-width: 768px) {
  iframe {
    height: 400px;
  }
}
@media (max-width: 576px) {
  iframe {
    height: 300px;
  }
}
@media (max-width: 613px) {
  iframe {
    display: none;
  }
  .small-screen-message {
    display: block;
  }
  .small-screen-message p {
    color: rgb(255, 255, 255);
  }
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 24px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .image-container {
    padding-top: 80%;
  }
}
@media (max-width: 800px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-container {
    padding-top: 60%;
  }
}
@media (max-width: 490px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
  .image-container {
    padding-top: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
