$font2:Mono;
$font3:Roboto;
$font4:Galaxy;


$c0: rgb(255, 255, 255);
$c1: #2c9caf; //botones
$c2: rgb(37, 211,102); //whatsapp
$c4: rgba(0, 0, 0, 0.5);
$c5: rgb(0, 0, 0);
$c6: rgb(46, 56, 199); //facebook
$c7: #C13584; //instagram
$c8: #FF0000; //youtube
$c9: #1DA1F2; //twitter
$c10:#1d1c1c;


$defaultPx: 10px;
$default2: 20px;
$default3: 50px;
$default4: 60px;
$vMedia: 1200px;