$font1:Groundation;
$font2:Mono;
$font3:Roboto;
$font4:Galaxy;

$primaryColor: rgb(255, 255, 255);
$color2: rgb(0, 0, 0);
$color3: rgb(46, 56, 199);
$color4: rgb(29, 13, 118);
$color5:#333;
$color6:#C13584;
$color7:rgba(0, 0, 0, 0.5);
$color8: #FF0000;
$color9:#1DA1F2;
$color10:rgba(57, 62, 67, 0.8);



$c1: #2c9caf;


$defaultPx: 10px;
$default2: 20px;
$default3: 50px;

$vMedia: 1200px;

