$font2:Mono;
$font3:Roboto;
$font4:Galaxy;


$c0: rgb(255, 255, 255);
$c1: #2c9caf;
$c2: rgb(37, 211,102);
$c3: rgb(81, 53, 182);
$c4: rgba(0, 0, 0, 0.5);
$c5: rgb(0, 0, 0);
$c6: rgb(46, 56, 199);
$c7: #C13584;
$c8: #FF0000;
$c9: #1DA1F2;
$c10:#333;


$defaultPx: 10px;
$default2: 20px;
$default3: 50px;
$default4: 60px;
$vMedia: 1200px;