//boton planetas 
.btn {
    --color: #ffffff;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 4px solid var(--color);
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.btn::before {
    top: -1em;
    left: -1em;
}

.btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
    height: 410px;
    width: 410px;
}

.btn:hover {
    color: rgb(10, 25, 30);
}

.btn:active {
    filter: brightness(.8);
}

///////////////////////////////////////
//back to top
.scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    text-decoration: none; 
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .scroll:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .scroll:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .scroll::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
  }
  
  .scroll:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }
  

//boton whatsapp
.whatsapp {
    height: 70px;
    width: 70px;
    background-color: rgb(40, 194, 40);
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}