//boton planetas 
.btn {
    padding: $defaultPx;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    bottom: $default2; 
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 4px solid $c0;
    font-family: inherit;
    text-transform: uppercase;
    color: $c0;
    z-index: 1;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    width: $default3
;
    height: $default3
;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color:  $c0;
    transition: 1s ease;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.btn:hover::before,
.btn:hover::after {
    height: 410px;
    width: 410px;
}

.btn:hover {
  color: $c5;
}

.btn:active {
  filter: brightness(.8);
}

///////////////////////////////////////
//back to top
.scroll {
    position: fixed;
    right: $default2;
    bottom: $default2;
    width: $default3
;
    height: $default3
;
    border-radius: 50%;
    background-color: $c5;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px $c3;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    text-decoration: none; 
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: $c0;
  }
  
  .scroll:hover {
    width: 140px;
    border-radius: $default3
;
    transition-duration: 0.3s;
    background-color: $c3;
    align-items: center;
  }
  
  .scroll:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .scroll::before {
    position: absolute;
    bottom: -$default2;
    content: "Back to Top";
    color: $c0;
    font-size: 0px;
  }
  
  .scroll:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }
  

//boton whatsapp
.whatsapp {
    height: 70px;
    width: 70px;
    background-color: $c2;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
