.contact{ 
    font-family: $font3;
    color: $c0;
    text-align: center;
    h1{
        font-size: $default4;
        font-family: $font2;
    }
    p {
        font-size: $default2;
    }
}
form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: $default2;
    padding: $default2;
    border: 3px solid $c0;
    border-radius: 5px;
    background-color: $c4;
    .form-group {
        margin-bottom: 1rem;
    }
}

label {
    display: block;
    color: $c0;
    font-size: 18px;
}

textarea {
    height: 150px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid $c5;
    border-radius: 5px;
}
.textoCard {
    font-size: $default2;
    background-color: $c4;
}

/////////////////media quiery//////////////////////
@media only screen and (max-width: 660px) {
    .form {
        width: 60%; 
        margin: 0 auto;
    }
    .contact {
        p {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 415px) {
    form {
        max-width: 300px;
    }
}