.eclipse-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $default2;
  .eclipse {
    background-color: $color7;
    border-radius: $defaultPx;
    border: solid 5px $primaryColor;
    padding: 30px;
    max-width: 600px;
    margin-bottom: $default2;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease, 
    background-color 0.3s ease;
  }
  .eclipse:hover {
    transform: scale(1.05);
    background-color: $color10; 
  }
  h2 {
    font-size: 30px;
    margin-bottom: $defaultPx;
    color: $primaryColor; 
  }
  .content p {
    font-size: 1rem;
    line-height: 1.6;
    margin: $default2;
    color: $primaryColor; 
  }
  .imagenEclipse {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  } 
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY($default2);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/////////////////media quiery//////////////////////
@media (max-width: 740px) {
  .eclipse-container {
    flex-direction: column; 
    align-items: center;
  }

  .eclipse {
    width: 300px;

  }
}
