/* Estilos generales para el iframe */
iframe {
    width: 100%;
    height: 700px;
    border: 2px solid $c0;
}

.small-screen-message {
    display: none;
    padding: $default2;
    background-color: $c7;
    border: 5px solid $c0;
    border-radius: 8px;
    text-align: center;
}

/* Media queries para hacer el iframe responsivo */
@media (max-width: $default4) {
    iframe {
        height: 600px;
    }
}
@media (max-width: 768px) {
    iframe {
        height: 400px;
    }
}

@media (max-width: 576px) {
    iframe {
        height: 300px;
    }
}

@media (max-width: 613px) {
    iframe {
        display: none;
    }
    .small-screen-message {
        display: block;
        p{
            color: $c0;
        }
    }
}
