

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $default2;
    margin: $default3 auto;
    max-width: $vMedia;
}

.image-container {
    width: 100%;
    height: 0;
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
    border-radius: $defaultPx;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: $defaultPx;
    }
}

/////////////////media quiery para hacer la galería responsiva
@media (max-width: 1280px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-container {
        padding-top: 80%;
    }
}

@media (max-width: 800px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container {
        padding-top: 60%;
    }
}

@media (max-width: 490px) {
    .image-grid {
        grid-template-columns: 1fr;
    }

    .image-container {
        padding-top: 50%;
    }
}