//h1 de las demas paginas
h1 {
    color: $c0;
    margin-top: 30px;
    text-align: center;
    font-size: $default4;
    font-family: $font2;
    text-shadow: 2px 2px 2px black; 
}
//titulo ESTELAR 
.TituloPrincipal {
    position: absolute;
    top: 250px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    text-shadow: 4px 1px 2px $c5;
    color: $c0; 
    z-index: 1;
    font-family: $font4;
}

/////////////////media quiery//////////////////////
@media (max-width: 780px) {
    .TituloPrincipal {
        font-size: $default4;
    }
    
}

@media (max-width: 450px) {
    .TituloPrincipal {
        font-size: 40px;
    }
}
