.planet-container {
    position: fixed;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%);
}

.planet-image {
    width: 600px; 
    height: 600px; 
    animation: slideInRight 1s ease-in-out, rotate 30s linear infinite; 
    object-fit: cover;
    margin-right: $default3;
    padding: 40px;
}
/// saturno
.planet-imageSaturno {
    width: 95%; 
    height: 400px; 
    animation: slideInRight 1s ease-in-out, rotate 30s linear infinite; 
    object-fit: cover;
    margin-right: $default3;
    padding: 40px;

}
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 90;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//////////////////media quiery//////////////////////
@media only screen and (max-width: 1450px)  {
    .planet-image {
        width: 430px; 
        margin-top: 290px;
        height: auto;
    }
    .planet-imageSaturno {
        width: 380px;
        margin-top: 175px;
 
        height: auto;
    }
    .planet-container {
        position: relative; 
    }
}

@media only screen and (max-width: 800px)  {
    .planet-image {
        width: 300px; 
    }
    .planet-imageSaturno {
        margin-top: 100px;
        width: 290px;
    }
    .planet-container {
        position: relative; 
    }
}

