.contenedor {
    position: relative; 
    height: calc(100vh - 56px); 
    .fotografia {
        width: 100%; 
        height: calc(100vh - 99px ); 
        object-fit: cover;
        object-position: center; 

    }
    .titulosPlanetas {
        position: absolute; 
        top: 50%;
        left: 5%;
        transform: translateY(-50%); 
        color: $c0; 
        font-size: 80px;
        font-family: $font2;
        text-shadow: 2px 2px 2px black; 
    }
}
////// grid 
.moon-grid-container {
    display: grid;
    grid-template-columns: repeat(1fr, auto); 
    gap: $default2;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    grid-template-areas: 
        "img1 text1"
        "text2 img2"
        "img3 text3"
        "text4 img4"
        "img5 text5";
    gap: $default2;
    padding: 40px;
    margin-bottom: $default3;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center; 
    img {
        width: 600px;
        max-height: 100%;
        border-radius: 30px;
    }
}
.img1 { grid-area: img1; }
.text1 { grid-area: text1; }
.img2 { grid-area: img2; }
.text2 { grid-area: text2; }
.img3 { grid-area: img3; }
.text3 { grid-area: text3; }
.img4 { grid-area: img4; }
.text4 { grid-area: text4; }
.img5 { grid-area: img5; }
.text5 { grid-area: text5;}

.text {
    display: flex;
    text-align: center;
    width: 500px;
    padding: 25px;
    font-size:$default2;
    flex-direction: column;
    align-items: center;
    font-family: $font2;
    background-color: rgba(0, 0, 0, 0.32);
    animation: float 3s ease-in-out infinite;
    h2 {
        margin-top: $default2;
        font-size: 35px;
        font-family: $font2;
        color: $c0;
    }
    p {
        color:$c0;
        text-align: left;
        margin: $default2;
    }

}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-$defaultPx);
    }
    100% {
        transform: translateY(0);
    }
}

///////////////////////////////////////////
//efecto hover de las imagenes 
.image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    transition: transform 0.3s ease; 
}

.image img:hover {
    transform: scale(1.1); 
}

/////////////////media quiery//////////////////////
@media (max-width: 1280px) {
    .contenedor {
        h1 {
            font-size: $default3 !important;
        }
    }
}    
@media (max-width: 1080px) {
    .contenedor {
        h1 {
            font-size: 40px !important;
        }
    }
    .moon-grid-container {
        grid-template-columns: repeat(1fr, auto); 
        grid-template-rows: repeat(10, auto);
        grid-template-areas: 
            "img1"
            "text1"
            "img2" 
            "text2"
            "img3" 
            "text3"
            "img4"
            "text4"
            "img5" 
            "text5";
    }
    .image{
        width: 60%; 
    }
    .text h2 {
        font-size: 30px;
    }
    .text p {
        font-size: 18px;
    }
  
}

@media (max-width: 800px) {
    .fotografia {
        height: auto;
    }
    
    .titulosPlanetas {
        font-size: 50px; 
    }
    .text{ 
        width: 400px;
    }
}

@media (max-width: 490px) {
   
    .fotografia {
        width: 60%; 
    }
    .text{ 
        width: 300px;
    }
    .text h2 {
        font-size: $default2;
    }
    .text p {
        font-size: 15px;
    }
    .moon-grid-container {
        padding: 5px ;
    }
}