
/////////////////////////////////////////////////////
.contenedor-planetas {
    display: grid;
    grid-template-columns: repeat(2, 500px);     
    display: grid;
    padding: $default2;
    gap: 40px;
    justify-content: center;
}
.tarjeta {
    text-align:center;
    position: relative; 
    text-align: center;
    padding: $default2; 
    border-radius: $defaultPx; 
    overflow: hidden;
    min-height: 300px;
    h2 {
        color: $c0;
        text-shadow: 2px 2px 2px black; 
        font-family: $font3;
    }
}

.tarjeta:hover {
    filter: brightness(1.2);
}

$planetas: mercurio, venus, tierra, marte, jupiter, saturno, urano, neptuno;

@for $i from 1 through length($planetas) {
    $planeta: nth($planetas, $i);
    .tarjeta-#{$planeta} {
        background-image: url('../../assets/sistemaSolar/#{$planeta}.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

////////////////////////////////////////

.contenedor-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.grid-container {
    margin: $default3;
    border-radius: 10px;
    box-shadow: 3px 0px $defaultPx 0px #ffffff2e;
    display: grid;
    grid-gap: 40px !important;
    color: $c0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "foto titulo titulo"
        "descubrimiento expediciones orbita";
    grid-gap: $defaultPx;
    overflow: hidden;
}

.foto {
    grid-area: foto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $defaultPx;
    transition: transform 0.3s ease-in-out;
}

.foto:hover {
    transform: scale(1.1);
}

.titulo {
    grid-area: titulo;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    margin: $default2;
    font-family: $font2;
}

.descubrimiento {
    grid-area: descubrimiento;
}

.estiloPlanet {
    h3 {
        font-size: 30px;
        font-family: $font2;
    }
    p {
        font-size:18px;
        font-family: $font3;
    }
}

.expediciones {
    grid-area: expediciones;
}
  
.orbita {
    grid-area: orbita;
}

@media (max-width: 1100px) {
    .contenedor-planetas {
        grid-template-columns: repeat(1, 500px);     
    }
    .tarjeta {
        h2 {
            font-size: 30px;
        }
    }
    .grid-container {
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "foto titulo"
            "descubrimiento expediciones"
            "orbita orbita";
    }
    .titulo {
        font-size: $default3;
    }
    .estiloPlanet {
        h3 {
            font-size: $default2;
        }
        p {
            font-size:16px;
        }
    }
}

@media (max-width: 560px) {
    .contenedor-planetas {
        grid-template-columns: repeat(1, 280px);     
    }
    .tarjeta {
        h2 {
            font-size: 25px;
        }
    }
    .grid-container {
        grid-template-columns: repeat(1, auto);
        grid-template-areas:
           "titulo"
           "foto" 
            "descubrimiento" 
            "expediciones"
            "orbita"
            "orbita";
    }
    .titulo {
        font-size: 40px;
    }
    .estiloPlanet {
        h3 {
            font-size: $default2;
        }
        p {
            font-size:14px;
        }
    }
}
