
/////////////////////////////////////////////////////
.contenedor-planetas {
    display: grid;
    grid-template-columns: repeat(2, 500px);     
    display: grid;
    padding: 20px;
    gap: 40px;
    justify-content: center;
}
.tarjeta {
    text-align:center;
    position: relative; 
    text-align: center;
    padding: 20px; 
    border-radius: 10px; 
    overflow: hidden;
    min-height: 300px;
    h2 {
        color: $primaryColor;
    }
}
$planetas: mercurio, venus, tierra, marte, jupiter, saturno, urano, neptuno;

@for $i from 1 through length($planetas) {
    $planeta: nth($planetas, $i);
    .tarjeta-#{$planeta} {
        background-image: url('../../assets/sistemaSolar/#{$planeta}.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

///////////////////

.contenedor-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.grid-container {
    margin: 30px;
    border-radius: 10px;
    box-shadow: 3px 0px 10px 0px #ffffff2e;
    display: grid;
    color: $primaryColor;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "foto titulo titulo"
        "descubrimiento expediciones orbita";
    grid-gap: 10px;
}
  
.foto {
    width: 400px;
    height: 300px;
}
.titulo {
    grid-area: titulo;
    justify-content: center;
    text-align: center;
}
  
.descubrimiento {
    grid-area: descubrimiento;
}

.expediciones {
    grid-area: expediciones;
}
  
.orbita {
    grid-area: orbita;
}