body {
  background-color: $c5;
  font-family: $font3;
}

.planetasBackground {
  background-image: url(../assets/fondoInicio.webp);

}
.contact {
  background-image: url(../assets/contact.jpg);
  height: calc(100vh - 184.73px);
}