body {
  background-color: $color2;
  font-family: $font3;
}
.contact {
    background-image: url(../../assets/contact.jpg);
}

.planetasBackground {
  background-image: url(../../assets/fondoInicio.webp);
}