body {
  background-color: $color2;
  font-family: $font3;
}

.planetasBackground {
  background-image: url(../../assets/fondoInicio.webp);
}
.contact {
  background-image: url(../assets/contact.jpg);
}