/// Estilos para navbar 
.navbar {
    background-color: $c5;
    font-family: $font2;

    .nav-link {
        color: $c0 !important;
    }

    .custom-toggler {
        border-color: $c0;
        color: $c1;
        z-index: 1000000000;
    }
}
